In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Accidents_Data.csv')

C:\Users\Parth\AppData\Local\Temp\ipykernel_7004\776376142.py:1: DtypeWarning: Columns (3,42,43,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Accidents_Data.csv')

In [3]:
data.shape

(5127055, 50)

In [4]:
data.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'UNIQUE_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID', 'PERSON_TYPE',
       'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX', 'YEAR'],
      dtype='object')

# Descriptive Analysis

In [5]:
#displaying the data types
print("\nData types:\n", data.dtypes)

Data types:
 CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
UNIQUE_ID                          int64
CRASH_DATE                        object
CRASH_TIME                        object
PERSON_ID                         object
PERSON_TYPE                       object
PERSON_INJURY                     object
VEHICLE_ID                       float64
PERSON_AGE                       float64
EJECTION                          object
EMOTIONAL_STATUS                  object
BODILY_INJURY                     object
POSITION_IN_VEHICLE               object
SAFETY_EQUIPMENT                  object
PED_LOCATION                      object
PED_ACTION                        object
COMPLAINT                         object
PED_ROLE                          object
CONTRIBUTING_FACTOR_1             object
CONTRIBUTING_FACTOR_2             object
PERSON_SEX                        object
YEAR                               int64
dtype: object

In [6]:
#information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 50 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
 29  UNIQUE_ID                      int64
 30  CRASH_DATE                     object
 31  CRASH_TIME                     object
 32  PERSON_ID                      object
 33  PERSON_TYPE                    object
 34  PERSON_INJURY                  object
 35  VEHICLE_ID                     float64
 36  PERSON_AGE                     float64
 37  EJECTION                       object
 38  EMOTIONAL_STATUS               object
 39  BODILY_INJURY                  object
 40  POSITION_IN_VEHICLE            object
 41  SAFETY_EQUIPMENT               object
 42  PED_LOCATION                   object
 43  PED_ACTION                     object
 44  COMPLAINT                      object
 45  PED_ROLE                       object
 46  CONTRIBUTING_FACTOR_1          object
 47  CONTRIBUTING_FACTOR_2          object
 48  PERSON_SEX                     object
 49  YEAR                           int64
dtypes: float64(6), int64(9), object(35)
memory usage: 1.9+ GB

# Data Cleaning

In [7]:
#checking for null values in the each column of the dataset
for x in range(50):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                          1948106
ZIP CODE                                         1948943
LATITUDE                                          495179
LONGITUDE                                         495179
LOCATION                                          495179
ON STREET NAME                                   1067111
CROSS STREET NAME                                2506338
OFF STREET NAME                                  4098079
NUMBER OF PERSONS INJURED                             42
NUMBER OF PERSONS KILLED                              92
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                       5895
CONTRIBUTING FACTOR VEHICLE 2                     548229
CONTRIBUTING FACTOR VEHICLE 3                    4516810
CONTRIBUTING FACTOR VEHICLE 4                    4954245
CONTRIBUTING FACTOR VEHICLE 5                    5070835
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                15617
VEHICLE TYPE CODE 2                               702221
VEHICLE TYPE CODE 3                              4534634
VEHICLE TYPE CODE 4                              4959072
VEHICLE TYPE CODE 5                              5072267
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_ID                                             19
PERSON_TYPE                                            0
PERSON_INJURY                                          0
VEHICLE_ID                                        206049
PERSON_AGE                                        533513
EJECTION                                         2499533
EMOTIONAL_STATUS                                 2424823
BODILY_INJURY                                    2424780
POSITION_IN_VEHICLE                              2499170
SAFETY_EQUIPMENT                                 2499242
PED_LOCATION                                     5047792
PED_ACTION                                       5047893
COMPLAINT                                        2424773
PED_ROLE                                          194891
CONTRIBUTING_FACTOR_1                            5049093
CONTRIBUTING_FACTOR_2                            5049197
PERSON_SEX                                        579432
YEAR                                                   0

In [8]:
# changing datatype of crash date and crash time to datetime since we will need them in tableau

data['CRASH DATE'] = data['CRASH DATE'].astype('datetime64[ns]')
data['CRASH TIME'] = data['CRASH TIME'].astype('datetime64[ns]')

Datatype conversion completed!

In [ ]:
# Converting required string columns to string datatype
data['BOROUGH'] = data['BOROUGH'].astype('str')
data['ON STREET NAME'] = data['ON STREET NAME'].astype('str')
data['CROSS STREET NAME'] = data['CROSS STREET NAME'].astype('str')
data['OFF STREET NAME'] = data['OFF STREET NAME'].astype('str')
data['CONTRIBUTING FACTOR VEHICLE 1'] = data['CONTRIBUTING FACTOR VEHICLE 1'].astype('str')
data['CONTRIBUTING FACTOR VEHICLE 2'] = data['CONTRIBUTING FACTOR VEHICLE 2'].astype('str')
data['CONTRIBUTING FACTOR VEHICLE 3'] = data['CONTRIBUTING FACTOR VEHICLE 3'].astype('str')
data['CONTRIBUTING FACTOR VEHICLE 4'] = data['CONTRIBUTING FACTOR VEHICLE 4'].astype('str')
data['CONTRIBUTING FACTOR VEHICLE 5'] = data['CONTRIBUTING FACTOR VEHICLE 5'].astype('str')
data['VEHICLE TYPE CODE 1'] = data['VEHICLE TYPE CODE 1'].astype('str')
data['VEHICLE TYPE CODE 2'] = data['VEHICLE TYPE CODE 2'].astype('str')
data['VEHICLE TYPE CODE 3'] = data['VEHICLE TYPE CODE 3'].astype('str')
data['VEHICLE TYPE CODE 4'] = data['VEHICLE TYPE CODE 4'].astype('str')
data['VEHICLE TYPE CODE 5'] = data['VEHICLE TYPE CODE 5'].astype('str')

In [ ]:
#filling null values with 0 and then converting the datatype
data['NUMBER OF PERSONS KILLED'] = data['NUMBER OF PERSONS KILLED'].fillna(0)
data['NUMBER OF PERSONS INJURED'] = data['NUMBER OF PERSONS INJURED'].fillna(0)

In [ ]:

data['NUMBER OF PERSONS KILLED'] = data['NUMBER OF PERSONS KILLED'].astype('int')
data['NUMBER OF PERSONS INJURED'] = data['NUMBER OF PERSONS INJURED'].astype('int')

In [9]:
#information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 50 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      int32
 11  NUMBER OF PERSONS KILLED       int32
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
 29  UNIQUE_ID                      int64
 30  CRASH_DATE                     object
 31  CRASH_TIME                     object
 32  PERSON_ID                      object
 33  PERSON_TYPE                    object
 34  PERSON_INJURY                  object
 35  VEHICLE_ID                     float64
 36  PERSON_AGE                     float64
 37  EJECTION                       object
 38  EMOTIONAL_STATUS               object
 39  BODILY_INJURY                  object
 40  POSITION_IN_VEHICLE            object
 41  SAFETY_EQUIPMENT               object
 42  PED_LOCATION                   object
 43  PED_ACTION                     object
 44  COMPLAINT                      object
 45  PED_ROLE                       object
 46  CONTRIBUTING_FACTOR_1          object
 47  CONTRIBUTING_FACTOR_2          object
 48  PERSON_SEX                     object
 49  YEAR                           int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(9), object(33)
memory usage: 1.9+ GB

In [10]:
# Replace 'nan' string (in any case) with actual NaN
data['BOROUGH'] = data['BOROUGH'].replace(['nan', 'Nan', 'NaN', 'NAN'], np.nan)

# Now replace NaN values with 'No Value'
data['BOROUGH'] = data['BOROUGH'].fillna('No Value')

print('Replace Successful')

Replace Successful

In [11]:
data['BOROUGH'].unique()

array(['No Value', 'BROOKLYN', 'BRONX', 'MANHATTAN', 'QUEENS',
       'STATEN ISLAND'], dtype=object)

In [12]:
# Replace 'nan' string (in any case) with actual NaN
data['CONTRIBUTING FACTOR VEHICLE 1'] = data['CONTRIBUTING FACTOR VEHICLE 1'].replace(['nan', 'Nan', 'NaN', 'NAN'], np.nan)

# Now replace NaN values with 'No Value'
data['CONTRIBUTING FACTOR VEHICLE 1'] = data['CONTRIBUTING FACTOR VEHICLE 1'].fillna('No Value')

print('Replace Successful')

Replace Successful

In [13]:
data['CONTRIBUTING FACTOR VEHICLE 1'].unique()

array(['Aggressive Driving/Road Rage', 'Pavement Slippery',
       'Following Too Closely', 'Unspecified', 'No Value',
       'Passing Too Closely', 'Passing or Lane Usage Improper',
       'Turning Improperly', 'Unsafe Lane Changing', 'Unsafe Speed',
       'Reaction to Uninvolved Vehicle', 'Steering Failure',
       'Traffic Control Disregarded', 'Other Vehicular',
       'Driver Inattention/Distraction', 'Oversized Vehicle',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Alcohol Involvement', 'View Obstructed/Limited',
       'Driver Inexperience', 'Failure to Yield Right-of-Way', 'Illnes',
       'Lost Consciousness', 'Brakes Defective', 'Backing Unsafely',
       'Glare', 'Passenger Distraction', 'Fell Asleep',
       'Obstruction/Debris', 'Tinted Windows', 'Animals Action',
       'Drugs (illegal)', 'Pavement Defective', 'Other Lighting Defects',
       'Outside Car Distraction', 'Driverless/Runaway Vehicle',
       'Tire Failure/Inadequate', 'Fatigued/Drowsy',
       'Headlights Defective', 'Accelerator Defective',
       'Failure to Keep Right', 'Physical Disability',
       'Eating or Drinking', 'Cell Phone (hands-free)',
       'Lane Marking Improper/Inadequate', 'Cell Phone (hand-Held)',
       'Using On Board Navigation Device', 'Other Electronic Device',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Windshield Inadequate',
       'Vehicle Vandalism', 'Prescription Medication',
       'Shoulders Defective/Improper', 'Listening/Using Headphones',
       'Texting', '80', 'Reaction to Other Uninvolved Vehicle', '1',
       'Illness', 'Drugs (Illegal)', 'Cell Phone (hand-held)'],
      dtype=object)

In [14]:
# Replace 'nan' string (in any case) with actual NaN
data['VEHICLE TYPE CODE 1'] = data['VEHICLE TYPE CODE 1'].replace(['nan', 'Nan', 'NaN', 'NAN'], np.nan)

# Now replace NaN values with 'No Value'
data['VEHICLE TYPE CODE 1'] = data['VEHICLE TYPE CODE 1'].fillna('No Value')

print('Replace Successful')

Replace Successful

In [15]:
data['VEHICLE TYPE CODE 1'].unique()

array(['Sedan', 'No Value', 'Dump', ..., 'Ford Trans', 'box van', 'a'],
      dtype=object)

In [16]:
data['VEHICLE TYPE CODE 1'].nunique()

1563

There are a lot of vehicle types which we will filter in excel directly later.

First we will clean and prepare our data

In [17]:
#dropping columns which have maximum null values and are not required for analysis
data = data.drop(['LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 2',
'CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
'VEHICLE TYPE CODE 5'], axis=1)
print("Variables dropped!")

Variables dropped!

In [18]:
#checking for cleaned data

print("Total number of Rows and Columns:",data.shape)
print("Column Values:", data.columns)

Total number of Rows and Columns: (5127055, 38)
Column Values: Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'UNIQUE_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID', 'PERSON_TYPE',
       'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX', 'YEAR'],
      dtype='object')

In [19]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(35):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                         1948943
LATITUDE                                          495179
LONGITUDE                                         495179
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_ID                                             19
PERSON_TYPE                                            0
PERSON_INJURY                                          0
VEHICLE_ID                                        206049
PERSON_AGE                                        533513
EJECTION                                         2499533
EMOTIONAL_STATUS                                 2424823
BODILY_INJURY                                    2424780
POSITION_IN_VEHICLE                              2499170
SAFETY_EQUIPMENT                                 2499242
PED_LOCATION                                     5047792
PED_ACTION                                       5047893
COMPLAINT                                        2424773
PED_ROLE                                          194891
CONTRIBUTING_FACTOR_1                            5049093

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 38 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   NUMBER OF PERSONS INJURED      int32
 7   NUMBER OF PERSONS KILLED       int32
 8   NUMBER OF PEDESTRIANS INJURED  int64
 9   NUMBER OF PEDESTRIANS KILLED   int64
 10  NUMBER OF CYCLIST INJURED      int64
 11  NUMBER OF CYCLIST KILLED       int64
 12  NUMBER OF MOTORIST INJURED     int64
 13  NUMBER OF MOTORIST KILLED      int64
 14  CONTRIBUTING FACTOR VEHICLE 1  object
 15  COLLISION_ID                   int64
 16  VEHICLE TYPE CODE 1            object
 17  UNIQUE_ID                      int64
 18  CRASH_DATE                     object
 19  CRASH_TIME                     object
 20  PERSON_ID                      object
 21  PERSON_TYPE                    object
 22  PERSON_INJURY                  object
 23  VEHICLE_ID                     float64
 24  PERSON_AGE                     float64
 25  EJECTION                       object
 26  EMOTIONAL_STATUS               object
 27  BODILY_INJURY                  object
 28  POSITION_IN_VEHICLE            object
 29  SAFETY_EQUIPMENT               object
 30  PED_LOCATION                   object
 31  PED_ACTION                     object
 32  COMPLAINT                      object
 33  PED_ROLE                       object
 34  CONTRIBUTING_FACTOR_1          object
 35  CONTRIBUTING_FACTOR_2          object
 36  PERSON_SEX                     object
 37  YEAR                           int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(9), object(21)
memory usage: 1.4+ GB

**Observation**

We have cleaned half of our data already.

Creating a csv of the same for later reference if needed.

In [21]:
data.to_csv('Accident_Data_cleaned_1.csv', index=False)

Now we will clean the next half of the data

In [22]:
data['PERSON_ID'].unique()

array(['4f73a3c3-fef4-428f-9c86-457f1d7a73c7',
       '47a9aaaf-2b2d-4923-9bf2-f968d96b981b',
       'ee8ed934-80f6-4809-b711-2c1e1c1f9ac6', ...,
       '199cbc18-3570-475a-90d9-3807631ed1bf',
       '3568cd7e-c44f-44a7-af05-d3ed276eb9bb',
       'e569a7df-6a82-41d9-85c6-01cb5ad1c7f7'], dtype=object)

The column person_id is of no use to us for visualiztion purpose.

Hence we will drop it

In [23]:
#dropping column PERSON_ID
data = data.drop(['PERSON_ID'], axis=1)
print("Variable dropped!")

Variable dropped!

In [24]:
#checking for cleaned data

print("Total number of Rows and Columns:",data.shape)
print("Column Values:", data.columns)

Total number of Rows and Columns: (5127055, 37)
Column Values: Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'UNIQUE_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_TYPE', 'PERSON_INJURY',
       'VEHICLE_ID', 'PERSON_AGE', 'EJECTION', 'EMOTIONAL_STATUS',
       'BODILY_INJURY', 'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT',
       'PED_LOCATION', 'PED_ACTION', 'COMPLAINT', 'PED_ROLE',
       'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2', 'PERSON_SEX', 'YEAR'],
      dtype='object')

In [25]:
data['VEHICLE_ID'].isna().sum()

206049

In [26]:
#Dropping rows where vehicle ID is none
data['VEHICLE_ID'].dropna(inplace=True)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   NUMBER OF PERSONS INJURED      int32
 7   NUMBER OF PERSONS KILLED       int32
 8   NUMBER OF PEDESTRIANS INJURED  int64
 9   NUMBER OF PEDESTRIANS KILLED   int64
 10  NUMBER OF CYCLIST INJURED      int64
 11  NUMBER OF CYCLIST KILLED       int64
 12  NUMBER OF MOTORIST INJURED     int64
 13  NUMBER OF MOTORIST KILLED      int64
 14  CONTRIBUTING FACTOR VEHICLE 1  object
 15  COLLISION_ID                   int64
 16  VEHICLE TYPE CODE 1            object
 17  UNIQUE_ID                      int64
 18  CRASH_DATE                     object
 19  CRASH_TIME                     object
 20  PERSON_TYPE                    object
 21  PERSON_INJURY                  object
 22  VEHICLE_ID                     float64
 23  PERSON_AGE                     float64
 24  EJECTION                       object
 25  EMOTIONAL_STATUS               object
 26  BODILY_INJURY                  object
 27  POSITION_IN_VEHICLE            object
 28  SAFETY_EQUIPMENT               object
 29  PED_LOCATION                   object
 30  PED_ACTION                     object
 31  COMPLAINT                      object
 32  PED_ROLE                       object
 33  CONTRIBUTING_FACTOR_1          object
 34  CONTRIBUTING_FACTOR_2          object
 35  PERSON_SEX                     object
 36  YEAR                           int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(9), object(20)
memory usage: 1.4+ GB

In [28]:
#dropping columns which have maximum null values and are not required for analysis
data = data.drop(['CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2'], axis=1)
print("Variables dropped!")

Variables dropped!

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 35 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   NUMBER OF PERSONS INJURED      int32
 7   NUMBER OF PERSONS KILLED       int32
 8   NUMBER OF PEDESTRIANS INJURED  int64
 9   NUMBER OF PEDESTRIANS KILLED   int64
 10  NUMBER OF CYCLIST INJURED      int64
 11  NUMBER OF CYCLIST KILLED       int64
 12  NUMBER OF MOTORIST INJURED     int64
 13  NUMBER OF MOTORIST KILLED      int64
 14  CONTRIBUTING FACTOR VEHICLE 1  object
 15  COLLISION_ID                   int64
 16  VEHICLE TYPE CODE 1            object
 17  UNIQUE_ID                      int64
 18  CRASH_DATE                     object
 19  CRASH_TIME                     object
 20  PERSON_TYPE                    object
 21  PERSON_INJURY                  object
 22  VEHICLE_ID                     float64
 23  PERSON_AGE                     float64
 24  EJECTION                       object
 25  EMOTIONAL_STATUS               object
 26  BODILY_INJURY                  object
 27  POSITION_IN_VEHICLE            object
 28  SAFETY_EQUIPMENT               object
 29  PED_LOCATION                   object
 30  PED_ACTION                     object
 31  COMPLAINT                      object
 32  PED_ROLE                       object
 33  PERSON_SEX                     object
 34  YEAR                           int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(9), object(18)
memory usage: 1.3+ GB

In [30]:
#dropping columns which have maximum null values and are not required for analysis
data = data.drop(['PED_LOCATION', 'PED_ACTION'], axis=1)
print("Variables dropped!")

Variables dropped!

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5127055 entries, 0 to 5127054
Data columns (total 33 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   NUMBER OF PERSONS INJURED      int32
 7   NUMBER OF PERSONS KILLED       int32
 8   NUMBER OF PEDESTRIANS INJURED  int64
 9   NUMBER OF PEDESTRIANS KILLED   int64
 10  NUMBER OF CYCLIST INJURED      int64
 11  NUMBER OF CYCLIST KILLED       int64
 12  NUMBER OF MOTORIST INJURED     int64
 13  NUMBER OF MOTORIST KILLED      int64
 14  CONTRIBUTING FACTOR VEHICLE 1  object
 15  COLLISION_ID                   int64
 16  VEHICLE TYPE CODE 1            object
 17  UNIQUE_ID                      int64
 18  CRASH_DATE                     object
 19  CRASH_TIME                     object
 20  PERSON_TYPE                    object
 21  PERSON_INJURY                  object
 22  VEHICLE_ID                     float64
 23  PERSON_AGE                     float64
 24  EJECTION                       object
 25  EMOTIONAL_STATUS               object
 26  BODILY_INJURY                  object
 27  POSITION_IN_VEHICLE            object
 28  SAFETY_EQUIPMENT               object
 29  COMPLAINT                      object
 30  PED_ROLE                       object
 31  PERSON_SEX                     object
 32  YEAR                           int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(9), object(16)
memory usage: 1.2+ GB

In [32]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(30):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                         1948943
LATITUDE                                          495179
LONGITUDE                                         495179
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_TYPE                                            0
PERSON_INJURY                                          0
VEHICLE_ID                                        206049
PERSON_AGE                                        533513
EJECTION                                         2499533
EMOTIONAL_STATUS                                 2424823
BODILY_INJURY                                    2424780
POSITION_IN_VEHICLE                              2499170
SAFETY_EQUIPMENT                                 2499242
COMPLAINT                                        2424773

In [33]:
#dropping columns which are not required for analysis
data = data.drop(['VEHICLE_ID'], axis=1)
print("Variables dropped!")

Variables dropped!

In [34]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(29):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                         1948943
LATITUDE                                          495179
LONGITUDE                                         495179
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_TYPE                                            0
PERSON_INJURY                                          0
PERSON_AGE                                        533513
EJECTION                                         2499533
EMOTIONAL_STATUS                                 2424823
BODILY_INJURY                                    2424780
POSITION_IN_VEHICLE                              2499170
SAFETY_EQUIPMENT                                 2499242
COMPLAINT                                        2424773

In [35]:
data['PERSON_AGE'].unique()

array([ 2.900e+01,        nan,  2.500e+01,  3.300e+01,  2.800e+01,
        4.400e+01,  2.600e+01,  4.600e+01,  3.800e+01,  3.200e+01,
        4.100e+01,  2.000e+01,  3.700e+01,  2.200e+01,  3.000e+01,
        3.400e+01,  6.700e+01,  7.500e+01,  5.300e+01,  1.800e+01,
        3.100e+01,  3.500e+01,  6.400e+01,  6.100e+01,  5.500e+01,
        2.100e+01,  5.800e+01,  1.900e+01,  8.400e+01,  0.000e+00,
        1.200e+01,  4.000e+01,  2.400e+01,  5.100e+01,  5.400e+01,
        6.000e+01,  3.900e+01,  7.000e+01,  4.900e+01,  4.700e+01,
        4.300e+01,  4.200e+01,  2.249e+03,  7.200e+01,  3.600e+01,
        4.500e+01,  4.800e+01,  9.000e+00,  5.900e+01,  5.700e+01,
        3.000e+00,  1.700e+01,  2.300e+01,  5.200e+01,  5.600e+01,
        5.000e+01,  2.700e+01,  7.100e+01,  6.500e+01,  6.000e+00,
        8.000e+01,  6.600e+01,  9.300e+01,  6.200e+01,  7.000e+00,
        1.300e+01,  6.800e+01,  1.000e+01,  6.300e+01,  7.400e+01,
        1.000e+00,  4.000e+00,  7.600e+01,  1.100e+01,  1.500e+01,
        7.800e+01,  2.000e+00,  1.400e+01,  6.900e+01,  7.300e+01,
        5.000e+00,  8.300e+01,  1.600e+01,  8.000e+00,  8.600e+01,
        8.100e+01,  8.200e+01,  7.700e+01,  8.500e+01,  9.400e+01,
        7.900e+01,  9.100e+01,  8.800e+01,  9.900e+01,  9.000e+01,
        9.990e+02,  8.700e+01,  1.055e+03,  1.210e+02, -9.640e+02,
        9.200e+01,  8.900e+01, -9.430e+02, -1.000e+02,  3.218e+03,
        3.059e+03,  3.031e+03,  5.209e+03, -5.970e+02,  1.090e+02,
        9.500e+01, -7.140e+02,  1.200e+02, -7.120e+02,  9.999e+03,
        1.000e+02,  1.290e+02,  1.010e+02, -5.960e+02, -9.710e+02,
        3.035e+03, -9.660e+02,  3.530e+02,  9.800e+01, -9.470e+02,
       -5.940e+02,  8.480e+02,  3.027e+03,  1.045e+03,  1.050e+03,
        6.230e+03,  1.400e+02, -6.170e+02, -7.150e+02,  9.700e+01,
        6.249e+03,  9.600e+01, -5.950e+02,  8.230e+02,  2.360e+02,
        2.030e+02, -9.740e+02,  1.100e+02,  6.103e+03, -5.920e+02,
        1.020e+02, -7.970e+02,  3.034e+03, -9.700e+02,  1.040e+03,
        1.041e+03,  1.030e+03,  1.051e+03, -9.730e+02, -5.930e+02,
       -9.590e+02,  8.240e+02, -9.670e+02, -9.680e+02, -9.620e+02,
       -1.770e+02,  2.220e+02,  4.043e+03,  4.030e+03,  1.280e+02,
       -9.530e+02, -9.510e+02,  1.060e+02,  1.022e+03, -9.560e+02,
       -9.600e+02, -2.170e+02, -2.950e+02,  2.233e+03,  1.150e+03,
        1.120e+02, -9.610e+02, -9.650e+02,  1.230e+02,  1.059e+03,
        1.981e+03, -9.500e+02,  1.220e+02,  1.030e+02,  1.180e+02,
        6.044e+03,  8.620e+02, -9.230e+02, -9.480e+02,  1.239e+03,
        1.200e+03,  1.235e+03, -9.570e+02,  2.300e+02, -4.170e+02,
        2.061e+03,  2.140e+02,  2.224e+03,  8.390e+02,  8.180e+02,
        8.410e+02,  8.200e+02, -1.090e+02, -8.890e+02, -9.580e+02,
        3.238e+03, -9.380e+02,  8.420e+02, -1.750e+02,  1.991e+03,
        8.360e+02, -9.910e+02,  6.210e+03,  6.236e+03, -9.290e+02,
        9.191e+03, -9.970e+02, -1.850e+02, -9.370e+02, -5.170e+02,
        1.050e+02,  8.530e+02,  1.190e+02, -9.690e+02,  9.580e+02,
        1.000e+03,  8.210e+02,  2.330e+02,  2.050e+02,  2.120e+02,
       -9.440e+02,  5.210e+03,  1.035e+03, -5.340e+02,  1.140e+02,
       -9.460e+02, -7.130e+02, -9.160e+02, -4.910e+02,  6.052e+03,
       -8.950e+02, -9.820e+02,  3.011e+03,  5.212e+03,  5.183e+03,
       -5.330e+02, -9.630e+02, -9.900e+02, -9.410e+02,  1.056e+03,
       -1.810e+02, -1.010e+02,  1.110e+02, -9.450e+02,  6.122e+03,
        2.219e+03,  2.204e+03,  2.430e+02,  2.440e+02,  1.032e+03,
        1.033e+03,  1.120e+03,  1.111e+03, -9.960e+02,  7.211e+03,
        2.520e+02,  2.530e+02,  2.510e+02,  5.081e+03,  7.239e+03,
        7.202e+03,  7.224e+03,  1.480e+02,  7.230e+03,  7.207e+03,
       -9.550e+02,  2.420e+02,  2.320e+02, -9.330e+02,  4.029e+03,
        4.027e+03,  2.100e+02,  2.400e+02,  3.247e+03,  2.740e+02,
        1.130e+02,  1.003e+03, -9.720e+02,  9.810e+02, -8.990e+02,
        8.310e+02,  7.082e+03,  5.234e+03,  5.230e+03,  4.830e+02,
        1.171e+03,  1.039e+03,  1.028e+03,  1.047e+03,  1.027e+03,
        1.020e+03,  1.058e+03, -9.420e+02,  5.048e+03,  7.275e+03,
        1.040e+02, -9.750e+02,  1.065e+03,  1.072e+03,  1.061e+03,
        6.071e+03, -1.840e+02,  2.070e+02,  4.515e+03,  4.497e+03,
        4.495e+03,  4.496e+03,  1.540e+02,  2.209e+03,  2.234e+03,
        6.036e+03,  6.019e+03,  1.049e+03,  1.819e+03,  7.046e+03,
        2.730e+02, -9.350e+02,  2.200e+02,  2.630e+02,  1.057e+03,
        1.080e+02,  3.995e+03,  3.999e+03,  4.022e+03,  1.080e+03,
        5.526e+03,  5.511e+03,  5.508e+03,  5.556e+03,  3.092e+03,
        9.290e+02,  1.026e+03,  6.035e+03,  6.018e+03,  6.012e+03,
        6.048e+03,  6.047e+03,  6.204e+03,  9.510e+02,  9.380e+02,
        1.036e+03, -9.770e+02,  1.024e+03,  1.046e+03, -5.360e+02,
       -9.990e+02,  9.540e+02,  9.590e+02, -1.780e+02,  4.041e+03,
        2.940e+02,  8.450e+02,  7.245e+03,  2.217e+03,  2.228e+03,
        2.247e+03,  1.066e+03,  3.021e+03,  1.560e+02,  1.310e+02,
        1.410e+02,  1.490e+02,  6.045e+03,  6.027e+03,  8.190e+02,
        1.063e+03,  6.029e+03,  6.033e+03,  2.620e+02,  8.690e+02,
        8.340e+02,  1.830e+02,  1.060e+03, -9.000e+02,  1.261e+03,
        6.061e+03,  6.026e+03,  8.150e+02,  8.590e+02,  8.580e+02,
        8.430e+02,  8.290e+02,  8.610e+02,  8.030e+02,  8.070e+02,
        8.300e+02,  5.282e+03, -9.320e+02,  8.330e+02,  8.250e+02,
        8.570e+02, -9.520e+02,  8.600e+02,  8.260e+02,  1.170e+02,
        1.150e+02,  1.019e+03,  1.042e+03,  1.008e+03,  6.039e+03,
        6.065e+03,  8.750e+02,  8.380e+02,  1.500e+02,  1.079e+03,
       -9.870e+02,  1.052e+03,  9.460e+02,  9.330e+02, -9.360e+02,
        1.021e+03,  1.034e+03,  1.081e+03, -9.540e+02, -9.340e+02,
        1.025e+03,  1.001e+03,  1.086e+03, -7.170e+02,  6.023e+03,
        8.270e+02,  8.630e+02,  9.151e+03, -9.490e+02,  1.064e+03,
        1.044e+03, -6.260e+02, -1.170e+02,  1.380e+02, -9.760e+02,
        1.005e+03,  6.025e+03,  6.028e+03,  6.041e+03,  6.055e+03,
        8.500e+02, -7.980e+02,  1.018e+03,  8.880e+02,  8.930e+02,
        7.260e+02,  7.210e+02,  2.090e+02,  2.211e+03,  2.190e+02,
        2.110e+02,  2.450e+02,  5.221e+03,  5.241e+03,  5.213e+03,
        6.024e+03,  6.034e+03,  6.002e+03,  9.340e+02,  8.440e+02,
        8.220e+02,  8.460e+02,  1.037e+03,  1.160e+02,  1.240e+02,
        1.053e+03,  9.370e+02,  9.250e+02,  9.420e+02,  3.215e+03,
        3.212e+03,  3.207e+03,  3.204e+03,  6.038e+03,  6.030e+03,
        6.032e+03,  5.100e+02, -6.180e+02,  6.057e+03,  8.510e+02,
        4.230e+03,  4.221e+03,  4.460e+02,  4.300e+02,  8.280e+02,
        9.232e+03,  6.054e+03,  6.072e+03,  6.056e+03,  6.021e+03,
        8.490e+02,  5.480e+02,  4.970e+02,  5.160e+02,  5.370e+02,
        5.030e+02,  5.010e+02,  9.262e+03,  8.660e+02,  1.029e+03,
       -9.310e+02,  2.340e+02,  1.031e+03, -9.130e+02,  1.300e+02,
        1.810e+02,  1.430e+02,  1.048e+03, -2.970e+02,  3.310e+02,
        1.070e+02,  1.510e+02,  1.250e+02,  2.216e+03,  1.073e+03,
        1.074e+03,  1.067e+03,  1.068e+03,  4.026e+03,  1.420e+02,
        1.330e+02,  7.228e+03,  2.005e+03, -8.940e+02,  9.240e+02,
        3.130e+02,  3.230e+02,  8.470e+02,  1.043e+03,  8.170e+02,
        3.240e+02,  3.180e+02,  3.160e+02,  3.210e+02,  3.380e+02,
        6.229e+03,  6.237e+03,  6.202e+03,  1.069e+03, -9.270e+02,
       -5.180e+02, -8.930e+02,  1.083e+03,  1.077e+03,  8.960e+02,
       -9.390e+02,  3.053e+03,  3.081e+03,  1.062e+03,  2.222e+03,
        2.212e+03,  7.240e+02,  3.234e+03,  3.262e+03, -2.940e+02,
        2.350e+02,  5.830e+02,  9.690e+02,  9.410e+02,  9.190e+02,
        9.600e+02, -7.220e+02,  1.440e+02,  8.540e+02,  1.360e+02,
        8.350e+02, -9.240e+02,  5.250e+03,  5.231e+03,  2.041e+03,
        4.226e+03, -1.940e+02,  5.555e+03,  1.450e+02,  1.660e+02,
        1.340e+02,  8.560e+02,  8.550e+02,  1.640e+02,  8.370e+02,
        1.075e+03,  3.230e+03,  5.237e+03,  5.220e+03,  1.038e+03,
        8.320e+02,  1.320e+02,  2.170e+02,  2.210e+02,  2.250e+02,
        2.244e+03,  5.240e+03,  5.094e+03,  1.023e+03, -4.180e+02,
        1.226e+03,  6.053e+03,  9.520e+02,  1.054e+03,  3.209e+03,
        1.850e+02,  6.049e+03,  1.011e+03,  3.064e+03,  9.670e+02,
        3.221e+03,  3.239e+03,  8.050e+02, -9.300e+02,  6.220e+03,
        6.244e+03,  1.017e+03,  1.014e+03, -3.170e+02,  3.210e+03,
        2.600e+02, -9.780e+02,  1.213e+03,  1.214e+03,  8.400e+02,
        9.480e+02, -2.960e+02,  6.043e+03,  6.040e+03, -1.880e+02,
        1.820e+03,  1.076e+03,  1.010e+03,  1.006e+03,  2.490e+02,
        5.247e+03,  2.229e+03,  9.310e+02, -1.790e+02,  2.205e+03,
       -9.800e+02,  2.221e+03, -9.220e+02,  9.211e+03,  4.206e+03,
        6.022e+03,  9.830e+02,  9.820e+02,  9.350e+02,  9.500e+02,
        6.060e+03,  6.016e+03,  8.060e+02,  3.070e+03,  2.260e+02,
        5.047e+03,  5.032e+03,  5.023e+03,  5.052e+03,  5.020e+03,
        5.025e+03,  8.710e+02,  8.770e+02,  6.212e+03,  6.042e+03,
        2.280e+02,  2.040e+02,  1.070e+03, -1.910e+02, -2.930e+02,
        3.229e+03,  9.710e+02,  6.064e+03,  2.206e+03,  2.080e+02,
        9.170e+02,  3.075e+03,  3.050e+03,  6.074e+03,  3.029e+03,
        4.236e+03, -8.970e+02,  9.220e+02,  9.570e+02,  9.210e+02,
        2.015e+03,  2.060e+02,  1.890e+02,  2.310e+02,  2.010e+02,
        1.370e+02, -9.790e+02,  9.360e+02,  9.620e+02,  3.023e+03,
        6.069e+03,  7.480e+02,  3.930e+02,  9.440e+02,  9.300e+02,
        3.043e+03,  6.130e+02,  6.077e+03,  8.700e+02,  4.870e+02,
       -5.370e+02,  5.242e+03,  5.206e+03,  1.016e+03,  8.670e+02,
       -7.160e+02,  6.046e+03,  9.260e+02,  5.228e+03,  5.205e+03,
       -1.800e+02,  1.012e+03,  1.013e+03,  1.085e+03,  3.245e+03,
        1.470e+02,  6.067e+03,  8.520e+02, -1.980e+02, -1.990e+02,
        9.470e+02,  9.550e+02,  9.280e+02,  9.270e+02, -7.180e+02,
        3.248e+03,  6.050e+03,  9.320e+02,  9.050e+02,  5.239e+03,
        5.211e+03,  5.245e+03,  5.233e+03,  9.530e+02,  8.740e+02,
        7.225e+03,  7.213e+03,  1.218e+03,  8.120e+02,  7.930e+02,
        6.430e+02,  6.410e+02,  2.232e+03,  6.192e+03,  6.205e+03,
        6.211e+03,  2.500e+02,  1.015e+03,  4.045e+03,  4.037e+03,
        9.490e+02, -5.990e+02,  1.976e+03,  6.870e+02,  3.227e+03,
        3.226e+03,  9.040e+02,  7.440e+02,  6.281e+03, -1.890e+02,
        1.580e+02,  1.350e+02,  1.106e+03,  2.160e+02,  9.760e+02,
        9.930e+02,  8.160e+02,  3.620e+02,  1.570e+02,  1.620e+02,
        1.650e+02,  1.002e+03,  6.051e+03,  7.210e+03,  7.247e+03,
        1.078e+03,  3.640e+02,  6.290e+02, -1.180e+02,  4.030e+02,
        3.200e+02,  2.227e+03,  6.830e+02,  6.250e+03,  6.222e+03,
        3.047e+03,  7.840e+02,  2.270e+02,  3.650e+02,  9.450e+02,
        8.041e+03,  4.048e+03,  3.610e+02,  1.590e+02,  9.630e+02,
        5.214e+03,  7.301e+03,  9.660e+02, -2.550e+02,  9.650e+02,
        1.700e+02, -9.920e+02,  1.690e+02,  6.380e+02,  2.480e+02,
        6.070e+03,  5.216e+03, -2.180e+02,  9.230e+02,  6.068e+03,
        2.016e+03,  6.207e+03,  6.231e+03,  9.610e+02,  9.640e+02,
        6.014e+03, -5.510e+02,  8.000e+02,  3.042e+03,  3.056e+03,
        1.260e+02, -1.740e+02,  3.320e+02,  6.106e+03,  6.102e+03,
        6.031e+03,  7.061e+03,  7.038e+03,  7.026e+03,  1.610e+02,
       -3.180e+02, -5.900e+02, -9.890e+02,  6.239e+03, -2.050e+02,
        9.390e+02,  9.030e+02, -1.930e+02,  9.110e+02,  2.540e+02,
        3.232e+03,  1.600e+02,  3.040e+03,  5.225e+03,  5.253e+03,
        6.228e+03,  6.185e+03,  6.216e+03,  6.187e+03,  7.249e+03,
        7.229e+03,  6.059e+03,  4.217e+03,  4.215e+03, -7.990e+02,
        2.410e+02,  3.690e+02,  1.970e+02,  4.998e+03, -2.990e+02,
        1.823e+03,  1.950e+02,  4.251e+03,  3.259e+03,  2.020e+02,
        3.061e+03,  3.065e+03,  6.100e+03, -1.760e+02, -9.210e+02])

In [36]:
# Replace 'nan' string (in any case) with actual NaN
data['PERSON_AGE'] = data['PERSON_AGE'].replace(['nan', 'Nan', 'NaN', 'NAN'], np.nan)

# Now replace NaN values with 'No Value'
data['PERSON_AGE'] = data['PERSON_AGE'].fillna(0)

print('Replace Successful')

Replace Successful

In [37]:
#changing datatype of the variables
data['PERSON_AGE'] = data['PERSON_AGE'].astype('int')

In [38]:
# Keep only the rows where PERSON_AGE is greater than or equal to 0
data = data[data['PERSON_AGE'] >= 0]

In [39]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(29):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                         1948531
LATITUDE                                          495089
LONGITUDE                                         495089
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_TYPE                                            0
PERSON_INJURY                                          0
PERSON_AGE                                             0
EJECTION                                         2499142
EMOTIONAL_STATUS                                 2424444
BODILY_INJURY                                    2424401
POSITION_IN_VEHICLE                              2498779
SAFETY_EQUIPMENT                                 2498851
COMPLAINT                                        2424394

In [40]:
# Drop rows from the entire DataFrame where PERSON_SEX is NaN
data = data.dropna(subset=['PERSON_SEX'])

In [41]:
data['PERSON_SEX'].unique()

array(['M', 'F', 'U'], dtype=object)

In [42]:
# Drop rows from the entire DataFrame where LATITUDE is NaN
data = data.dropna(subset=['LATITUDE'])
data = data.dropna(subset=['LONGITUDE'])

In [43]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(29):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                         1469516
LATITUDE                                               0
LONGITUDE                                              0
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_TYPE                                            0
PERSON_INJURY                                          0
PERSON_AGE                                             0
EJECTION                                         1751131
EMOTIONAL_STATUS                                 1680058
BODILY_INJURY                                    1680015
POSITION_IN_VEHICLE                              1750858
SAFETY_EQUIPMENT                                 1750887
COMPLAINT                                        1680006

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4113078 entries, 10 to 5127054
Data columns (total 32 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     datetime64[ns]
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   NUMBER OF PERSONS INJURED      int32
 7   NUMBER OF PERSONS KILLED       int32
 8   NUMBER OF PEDESTRIANS INJURED  int64
 9   NUMBER OF PEDESTRIANS KILLED   int64
 10  NUMBER OF CYCLIST INJURED      int64
 11  NUMBER OF CYCLIST KILLED       int64
 12  NUMBER OF MOTORIST INJURED     int64
 13  NUMBER OF MOTORIST KILLED      int64
 14  CONTRIBUTING FACTOR VEHICLE 1  object
 15  COLLISION_ID                   int64
 16  VEHICLE TYPE CODE 1            object
 17  UNIQUE_ID                      int64
 18  CRASH_DATE                     object
 19  CRASH_TIME                     object
 20  PERSON_TYPE                    object
 21  PERSON_INJURY                  object
 22  PERSON_AGE                     int32
 23  EJECTION                       object
 24  EMOTIONAL_STATUS               object
 25  BODILY_INJURY                  object
 26  POSITION_IN_VEHICLE            object
 27  SAFETY_EQUIPMENT               object
 28  COMPLAINT                      object
 29  PED_ROLE                       object
 30  PERSON_SEX                     object
 31  YEAR                           int64
dtypes: datetime64[ns](2), float64(2), int32(3), int64(9), object(16)
memory usage: 988.5+ MB

In [45]:
data['LONGITUDE'].nunique()

53769

In [46]:
data = data.dropna(subset=['ZIP CODE'])

In [47]:
data['ZIP CODE'].isna().sum()

0

In [48]:
data['ZIP CODE'] = data['ZIP CODE'].astype(str).str.strip().str.replace('.0', '', regex=False)

In [49]:
# Calculate the total number of persons killed by ZIP code
total_killed_by_zip = data.groupby('ZIP CODE')['NUMBER OF PERSONS KILLED'].sum().reset_index()

In [50]:
total_killed_by_zip

    ZIP CODE  NUMBER OF PERSONS KILLED
0      10000                         0
1      10001                        25
2      10002                        34
3      10003                        22
4      10004                         9
..       ...                       ...
225    11692                         7
226    11693                        13
227    11694                         7
228    11695                         0
229    11697                         0

[230 rows x 2 columns]

In [51]:
# Merge this aggregated data back into the original DataFrame on the ZIP code
data = data.merge(total_killed_by_zip, on='ZIP CODE', how='left')

In [52]:
data

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED_x,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,PERSON_SEX,YEAR,NUMBER OF PERSONS KILLED_y
0,2021-09-11,2023-11-18 09:35:00,BROOKLYN,11208,40.667202,-73.866500,0,0,0,0,...,Not Ejected,Does Not Apply,Does Not Apply,Unknown,None,Does Not Apply,Driver,F,2021,64
1,2021-09-11,2023-11-18 09:35:00,BROOKLYN,11208,40.667202,-73.866500,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,F,2021,64
2,2021-12-14,2023-11-18 08:13:00,BROOKLYN,11233,40.683304,-73.917274,0,0,0,0,...,NaN,Does Not Apply,Does Not Apply,NaN,NaN,Does Not Apply,Pedestrian,M,2021,56
3,2021-12-14,2023-11-18 08:17:00,BRONX,10475,40.868160,-73.831480,2,0,0,0,...,Not Ejected,Shock,Chest,Driver,Lap Belt & Harness,Complaint of Pain or Nausea,Driver,F,2021,12
4,2021-12-14,2023-11-18 08:17:00,BRONX,10475,40.868160,-73.831480,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,F,2021,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643557,2023-05-22,2023-11-18 08:15:00,BROOKLYN,11207,40.672580,-73.891220,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,M,2023,90
2643558,2023-05-22,2023-11-18 08:15:00,BROOKLYN,11207,40.672580,-73.891220,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,M,2023,90
2643559,2023-05-22,2023-11-18 08:15:00,BROOKLYN,11207,40.672580,-73.891220,4,0,0,0,...,Not Ejected,Conscious,Elbow-Lower-Arm-Hand,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Complaint of Pain or Nausea,Passenger,M,2023,90
2643560,2023-05-22,2023-11-18 08:15:00,BROOKLYN,11207,40.672580,-73.891220,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,M,2023,90
2643561,2023-05-22,2023-11-18 08:15:00,BROOKLYN,11207,40.672580,-73.891220,4,0,0,0,...,Not Ejected,Conscious,Chest,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Complaint of Pain or Nausea,Passenger,F,2023,90

In [57]:
data.rename(columns={'NUMBER OF PERSONS KILLED_x': 'NUMBER OF PERSONS KILLED', 'NUMBER OF PERSONS KILLED_y': 'NUMBER OF PERSONS KILLED_BY_ZIP'}, inplace=True)

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2643562 entries, 0 to 2643561
Data columns (total 33 columns):
 #   Column                           Dtype
---  ------                           -----
 0   CRASH DATE                       datetime64[ns]
 1   CRASH TIME                       datetime64[ns]
 2   BOROUGH                          object
 3   ZIP CODE                         object
 4   LATITUDE                         float64
 5   LONGITUDE                        float64
 6   NUMBER OF PERSONS INJURED        int32
 7   NUMBER OF PERSONS KILLED         int32
 8   NUMBER OF PEDESTRIANS INJURED    int64
 9   NUMBER OF PEDESTRIANS KILLED     int64
 10  NUMBER OF CYCLIST INJURED        int64
 11  NUMBER OF CYCLIST KILLED         int64
 12  NUMBER OF MOTORIST INJURED       int64
 13  NUMBER OF MOTORIST KILLED        int64
 14  CONTRIBUTING FACTOR VEHICLE 1    object
 15  COLLISION_ID                     int64
 16  VEHICLE TYPE CODE 1              object
 17  UNIQUE_ID                        int64
 18  CRASH_DATE                       object
 19  CRASH_TIME                       object
 20  PERSON_TYPE                      object
 21  PERSON_INJURY                    object
 22  PERSON_AGE                       int32
 23  EJECTION                         object
 24  EMOTIONAL_STATUS                 object
 25  BODILY_INJURY                    object
 26  POSITION_IN_VEHICLE              object
 27  SAFETY_EQUIPMENT                 object
 28  COMPLAINT                        object
 29  PED_ROLE                         object
 30  PERSON_SEX                       object
 31  YEAR                             int64
 32  NUMBER OF PERSONS KILLED_BY_ZIP  int32
dtypes: datetime64[ns](2), float64(2), int32(4), int64(9), object(16)
memory usage: 645.4+ MB

In [64]:
#checking for null values in the each column of the dataset after data cleaning
for x in range(32):
    print("%-45s %10d" % (data.columns.values[x], data.iloc[:,x].isna().sum()))
print()

CRASH DATE                                             0
CRASH TIME                                             0
BOROUGH                                                0
ZIP CODE                                               0
LATITUDE                                               0
LONGITUDE                                              0
NUMBER OF PERSONS INJURED                              0
NUMBER OF PERSONS KILLED                               0
NUMBER OF PEDESTRIANS INJURED                          0
NUMBER OF PEDESTRIANS KILLED                           0
NUMBER OF CYCLIST INJURED                              0
NUMBER OF CYCLIST KILLED                               0
NUMBER OF MOTORIST INJURED                             0
NUMBER OF MOTORIST KILLED                              0
CONTRIBUTING FACTOR VEHICLE 1                          0
COLLISION_ID                                           0
VEHICLE TYPE CODE 1                                    0
UNIQUE_ID                                              0
CRASH_DATE                                             0
CRASH_TIME                                             0
PERSON_TYPE                                            0
PERSON_INJURY                                          0
PERSON_AGE                                             0
EJECTION                                         1153750
EMOTIONAL_STATUS                                 1100172
BODILY_INJURY                                    1100140
POSITION_IN_VEHICLE                              1153527
SAFETY_EQUIPMENT                                 1153589
COMPLAINT                                        1100133
PED_ROLE                                               0
PERSON_SEX                                             0
YEAR                                                   0

In [60]:
data['YEAR'].unique()

array([2021, 2022, 2019, 2016, 2020, 2012, 2018, 2017, 2023, 2015, 2014,
       2013], dtype=int64)

This much of data cleaning should be enough for our analysis and viz.

In [61]:
data.to_csv('Accident_Data_cleaned_2.csv', index=False)