In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Accident_Data_cleaned_2.csv')

In [3]:
data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,PERSON_SEX,YEAR,NUMBER OF PERSONS KILLED_BY_ZIP
0,2021-09-11,2023-11-18 09:35:00,BROOKLYN,11208,40.667202,-73.866500,0,0,0,0,...,Not Ejected,Does Not Apply,Does Not Apply,Unknown,None,Does Not Apply,Driver,F,2021,64
1,2021-09-11,2023-11-18 09:35:00,BROOKLYN,11208,40.667202,-73.866500,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,F,2021,64
2,2021-12-14,2023-11-18 08:13:00,BROOKLYN,11233,40.683304,-73.917274,0,0,0,0,...,NaN,Does Not Apply,Does Not Apply,NaN,NaN,Does Not Apply,Pedestrian,M,2021,56
3,2021-12-14,2023-11-18 08:17:00,BRONX,10475,40.868160,-73.831480,2,0,0,0,...,Not Ejected,Shock,Chest,Driver,Lap Belt & Harness,Complaint of Pain or Nausea,Driver,F,2021,12
4,2021-12-14,2023-11-18 08:17:00,BRONX,10475,40.868160,-73.831480,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,F,2021,12

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643562 entries, 0 to 2643561
Data columns (total 33 columns):
 #   Column                           Dtype
---  ------                           -----
 0   CRASH DATE                       object
 1   CRASH TIME                       object
 2   BOROUGH                          object
 3   ZIP CODE                         int64
 4   LATITUDE                         float64
 5   LONGITUDE                        float64
 6   NUMBER OF PERSONS INJURED        int64
 7   NUMBER OF PERSONS KILLED         int64
 8   NUMBER OF PEDESTRIANS INJURED    int64
 9   NUMBER OF PEDESTRIANS KILLED     int64
 10  NUMBER OF CYCLIST INJURED        int64
 11  NUMBER OF CYCLIST KILLED         int64
 12  NUMBER OF MOTORIST INJURED       int64
 13  NUMBER OF MOTORIST KILLED        int64
 14  CONTRIBUTING FACTOR VEHICLE 1    object
 15  COLLISION_ID                     int64
 16  VEHICLE TYPE CODE 1              object
 17  UNIQUE_ID                        int64
 18  CRASH_DATE                       object
 19  CRASH_TIME                       object
 20  PERSON_TYPE                      object
 21  PERSON_INJURY                    object
 22  PERSON_AGE                       int64
 23  EJECTION                         object
 24  EMOTIONAL_STATUS                 object
 25  BODILY_INJURY                    object
 26  POSITION_IN_VEHICLE              object
 27  SAFETY_EQUIPMENT                 object
 28  COMPLAINT                        object
 29  PED_ROLE                         object
 30  PERSON_SEX                       object
 31  YEAR                             int64
 32  NUMBER OF PERSONS KILLED_BY_ZIP  int64
dtypes: float64(2), int64(14), object(17)
memory usage: 665.6+ MB

In [5]:
data.isna().sum()

CRASH DATE                               0
CRASH TIME                               0
BOROUGH                                  0
ZIP CODE                                 0
LATITUDE                                 0
LONGITUDE                                0
NUMBER OF PERSONS INJURED                0
NUMBER OF PERSONS KILLED                 0
NUMBER OF PEDESTRIANS INJURED            0
NUMBER OF PEDESTRIANS KILLED             0
NUMBER OF CYCLIST INJURED                0
NUMBER OF CYCLIST KILLED                 0
NUMBER OF MOTORIST INJURED               0
NUMBER OF MOTORIST KILLED                0
CONTRIBUTING FACTOR VEHICLE 1            0
COLLISION_ID                             0
VEHICLE TYPE CODE 1                      0
UNIQUE_ID                                0
CRASH_DATE                               0
CRASH_TIME                               0
PERSON_TYPE                              0
PERSON_INJURY                            0
PERSON_AGE                               0
EJECTION                           1153750
EMOTIONAL_STATUS                   1100172
BODILY_INJURY                      1100140
POSITION_IN_VEHICLE                1153527
SAFETY_EQUIPMENT                   1153589
COMPLAINT                          1100133
PED_ROLE                                 0
PERSON_SEX                               0
YEAR                                     0
NUMBER OF PERSONS KILLED_BY_ZIP          0
dtype: int64

In [6]:
#dropping columns EMOTIONAL_STATUS, BODILY_INJURY, COMPLAINT, PED_ROLE
data = data.drop(['EMOTIONAL_STATUS', 'BODILY_INJURY', 'COMPLAINT', 'PED_ROLE'], axis=1)
print("Variables dropped!")

Variables dropped!

In [7]:
#dropping column EJECTION 
data = data.drop(['EJECTION'], axis=1)
print("Variable dropped!")

Variable dropped!

In [8]:
#dropping column UNIQUE_ID  
data = data.drop(['UNIQUE_ID'], axis=1)
print("Variable dropped!")

Variable dropped!

In [9]:
#dropping columns CRASH DATE and CRASH TIME since its present twice.
data = data.drop(['CRASH DATE', 'CRASH TIME'], axis=1)
print("Variables dropped!")

Variables dropped!

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643562 entries, 0 to 2643561
Data columns (total 25 columns):
 #   Column                           Dtype
---  ------                           -----
 0   BOROUGH                          object
 1   ZIP CODE                         int64
 2   LATITUDE                         float64
 3   LONGITUDE                        float64
 4   NUMBER OF PERSONS INJURED        int64
 5   NUMBER OF PERSONS KILLED         int64
 6   NUMBER OF PEDESTRIANS INJURED    int64
 7   NUMBER OF PEDESTRIANS KILLED     int64
 8   NUMBER OF CYCLIST INJURED        int64
 9   NUMBER OF CYCLIST KILLED         int64
 10  NUMBER OF MOTORIST INJURED       int64
 11  NUMBER OF MOTORIST KILLED        int64
 12  CONTRIBUTING FACTOR VEHICLE 1    object
 13  COLLISION_ID                     int64
 14  VEHICLE TYPE CODE 1              object
 15  CRASH_DATE                       object
 16  CRASH_TIME                       object
 17  PERSON_TYPE                      object
 18  PERSON_INJURY                    object
 19  PERSON_AGE                       int64
 20  POSITION_IN_VEHICLE              object
 21  SAFETY_EQUIPMENT                 object
 22  PERSON_SEX                       object
 23  YEAR                             int64
 24  NUMBER OF PERSONS KILLED_BY_ZIP  int64
dtypes: float64(2), int64(13), object(10)
memory usage: 504.2+ MB

In [11]:
data['YEAR'].unique()

array([2021, 2022, 2019, 2016, 2020, 2012, 2018, 2017, 2023, 2015, 2014,
       2013], dtype=int64)

In [12]:
data = data[data['YEAR'] >= 2016]

In [13]:
data['YEAR'].unique()

array([2021, 2022, 2019, 2016, 2020, 2018, 2017, 2023], dtype=int64)

In [15]:
#dropping columns SAFETY_EQUIPMENT.
data = data.drop(['SAFETY_EQUIPMENT'], axis=1)
print("Variables dropped!")

Variables dropped!

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2642917 entries, 0 to 2643561
Data columns (total 24 columns):
 #   Column                           Dtype
---  ------                           -----
 0   BOROUGH                          object
 1   ZIP CODE                         int64
 2   LATITUDE                         float64
 3   LONGITUDE                        float64
 4   NUMBER OF PERSONS INJURED        int64
 5   NUMBER OF PERSONS KILLED         int64
 6   NUMBER OF PEDESTRIANS INJURED    int64
 7   NUMBER OF PEDESTRIANS KILLED     int64
 8   NUMBER OF CYCLIST INJURED        int64
 9   NUMBER OF CYCLIST KILLED         int64
 10  NUMBER OF MOTORIST INJURED       int64
 11  NUMBER OF MOTORIST KILLED        int64
 12  CONTRIBUTING FACTOR VEHICLE 1    object
 13  COLLISION_ID                     int64
 14  VEHICLE TYPE CODE 1              object
 15  CRASH_DATE                       object
 16  CRASH_TIME                       object
 17  PERSON_TYPE                      object
 18  PERSON_INJURY                    object
 19  PERSON_AGE                       int64
 20  POSITION_IN_VEHICLE              object
 21  PERSON_SEX                       object
 22  YEAR                             int64
 23  NUMBER OF PERSONS KILLED_BY_ZIP  int64
dtypes: float64(2), int64(13), object(9)
memory usage: 504.1+ MB

In [30]:
data.to_csv('Final Cleaned Data3.csv', index=False)